body {
  background-color: #E0E0E0;
}

#title_header {
  background-image: url('gradient1.jpg');  
  background-repeat:repeat-x;
  height: 55px;
}

#title_header a:link, #title_header a:visited {
  color:white;
  text-decoration: none;
}

#title_header a:hover {
  color: #1fadff;
}

#wms_logo {
  background-image: url('wmslogo.png');
  height: 55px;
  width: 99px;
}
#second_header {
  background-color: #1fadff;
  height: 50px;
}
#second_menu {
  height: 100px;
  padding-top:18px;
  padding-left: 50px;
}
#first_menu {
  float: right;
  padding-top: 18px;
}
#first_menu h3 {
  color: #E0E0E0;
}

#main
{
  padding-top: 5px;
}
#footer_error
{
  background-color: #CC0000;
  height: 30px;
  text-align: center;
  font-size:14px;
  color:#FBE3E4;
  padding-top: 10px;
  width: 100%;
  position:fixed;
  left: 0px;
  bottom: 0px;
}

#footer_notice
{
  background-color: #00CC33;
  height: 30px;
  text-align: center;
  font-size:14px;
  color:#264409;
  padding-top: 10px;
  width: 100%;
  position:fixed;
  left: 0px;
  bottom: 0px;
}
